<%- include ("partials/header") %>
<div class="container">
<header class="jumbotron">
    <div class="container">
<h1>Welcome to My project</h1>
<p> View our hand-picked campgrounds from all over the world</p>
<p>
    <a class="btn btn-primary btn-larg" href="cashFlo/new">Add New Image</a>
</p>
    </div>
</header>
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
<% cash.forEach((cash)=>{ %>
   <div class="col-md-3 col-sm-6">
       <div class="thumbnail">
        <img src=" <%= cash.image %> ">
       <div class="caption">
          <h4><%= cash.name %> </h4>
      </div>
      <p>
          <a href="cash/<%=cash._id %>" class="btn btn-primary">More Info</a>
      </p>
   </div>
   </div>
<% }); %>
</div>
</div>

<%- include ("partials/footer") %>